
.acticard {
  width:380px;
  .basicss--item:nth-child(even) & {
    margin-top:48px;
    @include responsive (tablette) {
      margin-top:32px;
    }
    @include responsive (smartphone) {
      margin-top:0px;
    }
  }
  background:#fff;



  @include responsive (sdesktop)   {
  }
  @include responsive (tablette)   {
  }
  @include responsive (smartphone) {
    width:260px;
  }
  @include responsive (iphoneplus) {
  }
}
  .acticard--head {
    position:relative;
  }
    .acticard--imgc {
      overflow: hidden;
      height:380px;
      @include responsive (smartphone) {
        height:260px;
      }
      padding-bottom:100%;
      position: relative;
      border-radius:20px;

      img {
        width:100%;
        height:100%;
        position:absolute;
        top:0;left:0;right:0;bottom:0;
      }
    }
    .acticard--headline {
      position:absolute;
      bottom:0;
      left:0;
      right:60px;
      padding:30px 30px 0 0;
      z-index: 1;

      &::before {
        content:"";
        background:#fff;
        position:absolute;
        top:0;
        right:0;
        left:-30px;
        bottom:-30px;
        z-index: -1;
        @include responsive (smartphone) {
          display: none;
        }
      }


      @include responsive (sdesktop)   {
      }
      @include responsive (tablette)   {
      }
      @include responsive (smartphone) {
        position:relative;
        padding:0;
        right:auto;
        margin-top:1.2em;
      }
      @include responsive (iphoneplus) {
      }
    }
      .acticard--title {
        @include fs(27);
        @include responsive (smartphone) {@include fs(22);}
        font-weight:$bold;
        line-height:1.33;
        color:#1a1d1e;
      }
  .acticard--desc {
    margin-top:2em;
    margin-bottom:2em;
    @include responsive (smartphone) {
      margin-top:1.2em;
      margin-bottom:1.2em;
    }
    @include fs(16);
  }
  .acticard--ctac {}
