
.acti {
  position:relative;
  //padding:180px 124px 180px 124+200px;
}
  .acti--bg {
    position:absolute;
    pointer-events: none;
    top:108px;
    left:220px;
    z-index: -1;


    @include responsive (tablette)   {
      top:108px;
      left:220px;
    }
    @include responsive (smartphone) {
      top:50px;
      left:auto;
      right:0;

      svg {
        width:200px;
        height:400px;
      }
    }
  }
  .acti--bcenter {
    padding-top:180px;
    padding-left:480px;
    padding-right:180px;
    //padding-bottom:180px;



    @include responsive (sdesktop)   {
      padding-top:160px;
      padding-left:360px;
      padding-right:160px;
      //padding-bottom:160px;
    }
    @include responsive (tablette)   {
      padding-top:120px;
      padding-left:280px;
      padding-right:120px;
      //padding-bottom:120px;
    }
    @include responsive (smartphone) {
      padding-top:100px;
      padding-left:40px;
      padding-right:40px;
      //padding-bottom:100px;
    }
  }
    .acti--head {
      max-width:800px;
    }
      .acti--desc {
        margin-top:80px;
        margin-bottom:40px;
        line-height: 1.89;
      }
  .acti--sscont {
    padding-top:40px;
    padding-left:480-50px;
    padding-bottom:180px;


    @include responsive (sdesktop)   {
      padding-top:40px;
      padding-left:360-50px;
      padding-bottom:160px;
    }
    @include responsive (tablette)   {
      padding-top:0px;
      padding-left:280-50px;
      padding-bottom:120px;
    }
    @include responsive (smartphone) {
      padding-top:0px;
      padding-left:40px;
      padding-bottom:100px;
    }
    @include responsive (iphoneplus) {
      padding-left:20px;
    }
  }
