.adresse-listing{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	.adresse{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 25%;
		min-width: 300px;
		border-bottom: 2px solid #E2E2E2;
		padding-top: 40px;
		padding-bottom: 50px;
		*{
			margin-bottom: 5px;
			width: 83%;
		}
		h4{
			font-weight: $bold;
			position: relative;
			&::before{
				content: url("../img/pin.svg");
				position: absolute;
				top: -2px;
				left: 0;
				transform: translate(-28px);
				width: 23px;
			}
		}
		p{
			color: #969595;
			@include fs(16);
		}
		span{
			@include fs(16);
			font-weight: $bold;
			color: #969595;
		}
	}
	&:before{
		content: "";
		position: absolute;
		background-color: white;
		height: 5px;
		bottom: 0;
		width: 100%;
	}
}
