/* $arcta
   ========================================================================== */

// BTN DEFAULT
$arctaHeight: 58px;
$arctaHeightTb: 52px;
$arctaHeightSm: 44px;
$arctaColor: $orange;
$arctaFontSize: 16;
$arctaFontSizeSm: 14; // buttons Sm
$arctaFontSizeTiny: 12; // buttons responsive smartphones

$arctaLineHeight: 1;
$arctaBorderWidth: 2px;

$arctaPadY:($arctaHeight - $arctaFontSize*$arctaLineHeight - $arctaBorderWidth*2) * 0.5;
$arctaPadYTb:($arctaHeightTb - $arctaFontSize*$arctaLineHeight - $arctaBorderWidth*2) * 0.5;
$arctaPadYSm:($arctaHeightSm - $arctaFontSize*$arctaLineHeight - $arctaBorderWidth*2) * 0.5;

.arcta {
  // reset
  margin:0;
  padding:0;
  outline:none;
  font-family:inherit;
  text-decoration: none;

  // block
  position:relative;
	display: inline-block;
	border-radius: 100px;
  padding:$arctaPadY 50px $arctaPadY 48px;

  @include responsive (sdesktop)   {}//1024-1280
  @include responsive (tablette)   {padding:$arctaPadYTb 46px $arctaPadYTb 40px;}
  @include responsive (smartphone) {padding:$arctaPadYSm 40px $arctaPadYSm 30px;}

  &:not(:last-child) {
    margin-right:10px;
    &.arcta__arrow {margin-right:30px;}
  }

  // style
  border: 2px solid $arctaColor;
	background-color: transparent;

  // misc
  cursor:pointer;
  transition:all .3s ease-out;

  &.arcta__ccfff {color: white;}
  &.arcta__cc000 {color: black;}

  &:hover {
		background-color: $arctaColor;
  }
}

  .arcta--text {
    // typo
    line-height: $arctaLineHeight;
    font-weight: $bold;
    @include fs($arctaFontSize);

    display: block;
    transition:all .3s ease-out;
    .arcta:hover & {
      color: #fff;
      transform:translateX(-20px);
    }
  }
  .arcta--arrow {
    display: block;
    position:absolute;
    top:50%;right:0;
    transform:translateY(-50%) translateX(50%);
    svg {
      display: block;
      fill:$arctaColor;
      transition:all .3s ease-out;

      width:42px;height:16px;
      @include responsive (tablette)   {width:0.9*42px;height:0.9*16px;}
      @include responsive (smartphone) {width:0.8*42px;height:0.8*16px;}

      .arcta:hover & {
        transform:translateX(-34px);
        fill:#fff;
      }
    }
  }
