.arrowcircle {
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  svg {
    display: block;

    width:80px;height:80px;

    //@include responsive (large)      {width:80px;height:80px;}//1440+
    //@include responsive (big)        {width:70px;height:70px;}//1700+
    @include responsive (sdesktop)   {width:70px;height:70px;}//1024-1280
    @include responsive (tablette)   {width:60px;height:60px;}
    @include responsive (smartphone) {width:50px;height:50px;}

    path {
      transition:.15s all ease-out;
      &:first-child {
        fill:transparent;
      }
      &:last-child {
        stroke:$orange;
      }
    }
  }
  &:hover {
    svg path:first-child {
      fill:rgba($orange, 1);
      stroke:transparent;
    }
    svg path:last-child {
      stroke:#fff;
    }
  }
}