
.basicss {
  position:relative;
  &__nooverflow .slick-list {
    overflow: visible;
  }
}
  .basicss--nav {
    position:absolute;
    top:-54px;
    right:82px;
    bottom:auto;
    left:auto;
    display: flex;
    transform:translateY(-100%);


    @include responsive (sdesktop)   {
      top:-54px;
      right:40px;
    }
    @media (max-width: 1300px) {
      position:relative;
      top:0;right:0;
      transform:none;
      margin-bottom:40px;
    }
    @include responsive (smartphone) {
      margin-bottom:20px;
    }
  }
    .basicss--prev,
    .basicss--next {
      position:relative;
      top:auto;
      right:auto;
      bottom:auto;
      left:auto;
    }
    .basicss--next {
      margin-left:20px;
      @include responsive (smartphone) {margin-left:10px;}
    }
    .basicss--item {
      outline: none;
      margin-right:94px;
      @include responsive (tablette)   {margin-right:64px;}
      @include responsive (smartphone) {margin-right:32px;}
    }