.bhead {
  background:#282828;
  position:relative;
  z-index: 1;

  @include responsive (smartphone) {min-height: calc(100vh - 70px);}
  @include responsive (tablette)   {min-height: calc(100vh - 70px);}
  @include responsive (sdesktop)   {min-height: calc(100vh - 90px);}//1024-1280
  min-height: calc(100vh - 110px);
}
  .bhead--deco {
    pointer-events: none;
  }
    .bhead--deco-circ {
      position:absolute;
      top:0;right:0;
      svg {
        display: block;
        height:auto;
        width:90vh;
      }

      @include responsive (smartphone) {display: none;}
      @include responsive (tablette)   {}
      @include responsive (sdesktop)   {}
    }
  .bhead--bgslide {
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    z-index: -1;
    overflow: hidden;
    div {
      position:absolute;
      top:0;right:0;bottom:0;left:0;
      z-index: -1;

      transition:.9s all $easeOutP3;
      pointer-events: none;
      opacity:0;
      transform:scale(1.05);
      &.js-active {
        pointer-events: auto;
        transform:scale(1);
        opacity:1;
      }

      background:#000;
      img,
      video {
        width:100%;
        height:100%;
        opacity:0.7;// changer cette valeur pour accentuer le fond noir
      }
    }
  }
  .bhead--slides {
  }
    .bhead--slide {
      position:absolute;
      left:0;right:0;bottom:0;top:0;

      @include responsive (smartphone) {padding:40px 40px;}
      @include responsive (tablette)   {padding:40px 64px;}
      @include responsive (sdesktop)   {padding:40px 86px;}//1024-1280
      padding:40px 96px;
      @include responsive (large)      {padding:40px 112px;}//1440+
      @include responsive (big)        {padding:40px 124px;}//1700+

      width:100%;

      pointer-events: none;
      &.js-active {
        pointer-events: auto;
      }

      display: flex;
      justify-content: center;
      flex-direction: column;
    }
      .bhead--title {
        @include fs(58);
        @include responsive (large)      {@include fs(64);}//1440+
        @include responsive (big)        {@include fs(68);}//1700+
        @include responsive (sdesktop)   {@include fs(48);}//1024-1280
        @include responsive (tablette)   {@include fs(42);}
        @include responsive (smartphone) {@include fs(32);}


        font-weight: 900;
        line-height: 1.03;
        color: #ffffff;
        max-width: 720px;
        margin-bottom:0.5em;


        transition:.6s all $easeOutP3;
        opacity:0;
        transform:translateY(-20px);
        .bhead--slide.js-active & {
          opacity:1;
          transform:translateY(0);
          transition-delay:.3s;
        }
      }
      .bhead--cta {
        transition:.6s all $easeOutP3;
        opacity:0;
        transform:translateY(20px);
        .bhead--slide.js-active & {
          opacity:1;
          transform:translateY(0);
          transition-delay:.3s;
        }
      }
  .bhead--nav {
    position:absolute;
    display: flex;
    bottom:82px;right:68px;

    @include responsive (smartphone) {bottom:30px;right:30px;}
    @include responsive (tablette)   {bottom:60px;right:60px;}
    @include responsive (sdesktop)   {bottom:74px;right:64px;}
  }
    .bhead--prev {
      margin-right:20px;
    }
    .bhead--prev,
    .bhead--next {
      cursor: pointer;
    }

