.card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&::after{
		content: "";
		width: 400px;
		margin: 10px;
	}
	&::before{
		content: "";
		order: 1;
		width: 400px;
		margin: 0 10px;
	}
	.card{
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-decoration: none;
		width: 400px;
		min-height: 250px;
		margin: 10px;
		background-color: white;
		padding: 30px;
		border-left: 5px solid $red;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
		span{
			text-transform: uppercase;
			max-width: 60%;
			@include fs(14);
			@include responsive(smartphone){
				@include fs(12);
			}
		}
		h4{
			color: $red;
			@include fs(36);
			font-weight: $bold;
			font-style: italic;
			line-height: 1.1;
			margin-top: 10px;
			@include responsive(smartphone){
				@include fs(25);
			}
		}
		p{
			position: absolute;
			padding: 30px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $red;
			transform: translateX(-110%) skew(-10deg);
			transition: .5s $easeInOutQuart;
			white-space: pre-line;
			&:after{
				content: url("../img/card-arrow.svg");
				display: block;
				height: 10px;
				width: 40px;
				position: absolute;
				bottom: 30px;
				right: 20px;
			}
		}
		&.card--particulier{
			border-left: 5px solid $green;
			p{
				background-color: $green;
				color: $green;
			}
			h4{
				color: $green;
			}
		}
		@include responsive(desktop){
			&:hover{
				p{
					color: white;
					transform: translateX(0);
				}
			}
		}
		@include responsive(smartphone){

			min-height: auto;
			border: none;
			border-bottom: 5px solid $red;
			&:after{
				content: url("../img/card-arrow-red.svg");
				display: block;
				height: 10px;
				width: 35px;
				position: absolute;
				bottom: 30px;
				right: 20px;
			}
			&.card--particulier{
				border: none;
				border-bottom: 5px solid $green;
				&:after{
					content: url("../img/card-arrow-green.svg");
				}
			}
		}
	}
}
