.module-chiffres{
	.chiffres-body{
		margin-top: 70px;
		@include responsive(smartphone){
			margin-top: 40px;
		}
		display: flex;
		flex-wrap: wrap;
		.chiffre{
			flex-grow: 1;
			margin-bottom: 50px;
			width: 33%;
			min-width: 300px;
			@include responsive(smartphone){
				margin-bottom: 30px;
			}
			.chiffre-value{
				color: $green;
				@include fs(60);
				font-weight: $bold;
				margin-bottom: 20px;
				@include responsive(smartphone){
					@include fs(50);
					margin-bottom: 10px;
				}
			}
			.chiffre-desc{
				@include fs(16);
				width: 350px;
				max-width: 80%;
			}
		}
	}
}
