.codibest {
  position:relative;
  background:$green;
  color:#fff;

  padding-top:180px;
  padding-left:480px;
  padding-right:180px;
  padding-bottom:180px;


  @include responsive (sdesktop)   {
    padding-top:160px;
    padding-left:360px;
    padding-right:160px;
    padding-bottom:160px;
  }
  @include responsive (tablette)   {
    padding-top:120px;
    padding-left:280px;
    padding-right:120px;
    padding-bottom:120px;
  }
  @include responsive (smartphone) {
    padding-top:100px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:100px;
  }
}
  .codibest--bcenter {
    max-width:900px;
    //margin:auto;
  }
    .codibest--desc {
      margin-top:80px;
      margin-bottom:40px;
      line-height: 1.89;
    }