.codires {
  background:$blueLight;
  position:relative;
  z-index: 1;
  //padding:180px 124px 180px 124+200px;
  overflow: hidden;
}
  .codires--bg {
    position:absolute;
    pointer-events: none;
    top:-10%;
    bottom:-10%;
    left:-10%;
    right:-10%;
    z-index: -1;
    svg {
      width:100%;height:100%;
    }
  }
  .codires--bcenter {
    padding-top:180px;
    padding-left:480px;
    padding-right:480px;
    //padding-bottom:180px;

    @include responsive (sdesktop)   {
      padding-top:160px;
      padding-left:360px;
      padding-right:160px;
      //padding-bottom:160px;
    }
    @include responsive (tablette)   {
      padding-top:120px;
      padding-left:280px;
      padding-right:120px;
      //padding-bottom:120px;
    }
    @include responsive (smartphone) {
      padding-top:100px;
      padding-left:40px;
      padding-right:40px;
      //padding-bottom:100px;
    }
  }
    .codires--head {
      max-width:800px;
    }
      .codires--desc {
        margin-top:80px;
        margin-bottom:40px;
        line-height: 1.89;
      }
  .codires--sscont {
    padding-top:40px;
    padding-left:480px;
    padding-bottom:180px;


    @include responsive (sdesktop)   {
      padding-top:40px;
      padding-left:360px;
      padding-bottom:160px;
    }
    @include responsive (tablette)   {
      padding-top:0px;
      padding-left:280px;
      padding-bottom:120px;
    }
    @include responsive (smartphone) {
      padding-top:0px;
      padding-left:40px;
      padding-bottom:100px;
    }
    @include responsive (iphoneplus) {
      padding-left:20px;
    }
  }
