.contact-locations{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.contact-locations__item{
		width: calc(50% - 30px);
		@include responsive(smartphone){
			width: 100%;
		}
		margin-bottom: 50px;
		@include fs(18);
		h4{
			font-weight: $bold;
			margin-bottom: 5px;
		}
		p{
			white-space: pre-line;
		}
	}
}

.contact-form-section{
	position: relative;
	background-color: $grey;
	background-size: cover;
	background-position: center;
	padding: 100px 0;
	&:after{
		content: "";
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.4;
	}
	>*{
		position: relative;
		z-index: 1;
	}
	.title-section{
		color: white;
		margin-bottom: 80px;
	}
	.wpcf7{
		form{
			p{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.wpcf7-form-control-wrap{
					width: calc(50% - 10px);
					@include responsive(smartphone){
						width: 100%;
					}
					&.cf7-message{
						width: 100%;
					}

					input, textarea{
						font-family: inherit;
   					font-size: inherit;
						max-width: 100%;
						min-width: 100%;
						width: 100%;
						@include fs(15);
						padding: 20px;
						border: none;
						border-bottom: 2px solid $orange;
						&:focus{
							outline: none;
						}
						&[aria-invalid=true]{
							border: 1px solid $red;
						}
					}

					.wpcf7-not-valid-tip{
						@include fs(11);
						display: inline-block;
						color: $red;
						background-color: rgba($red, 0.6);
						color: white;
						padding: 5px 8px;
						margin-top: 5px;
					}
				}

				br{
					display: none;
				}
				input{
					height: 56px;
				}
				input[type=submit]{
					@extend .btn;
					box-sizing: border-box;
					width: 100%;
					-webkit-appearance: none;
				}
				.ajax-loader{
					background-color: white;
					background-size: cover;
					background-position: center;
					height: 20px;
					width: 20px;
					margin: auto;
					margin-top: 15px;
				}
			}
			.wpcf7-response-output{
				width: 100%;
				@include fs(15);
				padding: 20px;
				border: none;
				background-color: white;
				box-sizing: border-box;
				border-bottom: 1px solid $blueGround;
				margin: 20px 0 0 0;
				color: $ccmain;
				text-align: center;
				&.wpcf7-validation-errors{
					color: $red;
				}
			}
		}
	}

}
