/* $CONTAINER
========================================================================== */

$containerSize: $contentContainer-size;
$containerSizeTiny: $contentContainer-size-tiny;
$containerSizeSmall: $contentContainer-size-small;
$containerSizeMedium: $contentContainer-size-medium;
$containerSizeLarge: $contentContainer-size-large;
$containerPadding: $borderSpace;
$containerPaddingMd: $borderSpaceMd;
$containerPaddingSm: $borderSpaceSm;

.content-container {
	max-width: $contentContainer-size;
	margin: 0 auto;
	// padding: 0 60px;
	box-sizing: content-box;
	@include responsive(desktop) {
		padding: 0 $containerPadding;
	}
	@include responsive(tablette) {
		padding: 0 $containerPaddingMd;
		padding: 0 60px;
	}
	@include responsive(smartphone) {
		padding: 0 $containerPaddingSm;
	}
	&.nopad {padding: 0;}
}
.content-container__full {
	max-width: 100vw;
	// padding: 0;
	margin: 0 auto;
}
.content-container__l {
	max-width: $containerSizeLarge;
	// padding: 0;
	margin: 0 auto;
}
.content-container__m {
	max-width: $containerSizeMedium;
	margin: 0 auto;
}

.content-container__sm {
	max-width: $containerSizeSmall;
	margin: 0 auto;
}

.content-container__xs {
	max-width: $containerSizeTiny;
	margin: 0 auto;
}

.content-page__header {
	margin-bottom: 50px;
}

.content-container__right{
	max-width: 725px;
	margin: 0;
	margin-left: auto;
}

.page-content--header{
	margin-top: 100px;
	margin-bottom: 100px;
	.sqtitle{
		@include responsive(smartphone) {
			padding: 0 $containerPaddingSm;
		}
	}
}
