.decoangle {
  position:absolute;
  &::after,
  &::before {
    position:absolute;
    content:"";
  }

  &__orange::after,
  &__orange::before {background:$orange;}
  &__green::after,
  &__green::before {background:$green;}

  &__tl::after,
  &__tl::before,
  &__tl {top:0;left:0;}
  &__tr::after,
  &__tr::before,
  &__tr {top:0;right:0;}
  &__bl::after,
  &__bl::before,
  &__bl {bottom:0;left:0;}
  &__br::after,
  &__br::before,
  &__br {bottom:0;right:0;}

  &__sm::after  {width:50px;height:3px;}
  &__sm::before {width:3px;height:50px;}
  &__md::after  {width:74px;height:9px;}
  &__md::before {width:9px;height:74px;}
  &__lg::after  {width:40vmin;height:20px;}
  &__lg::before {width:20px;height:40vmin;}
  &__bg::after  {width:50vmin;height:20px;}
  &__bg::before {width:20px;height:50vmin;}


  @include responsive (smartphone) {
    &__sm::after  {width:30px;height:2px;}
    &__sm::before {width:2px;height:30px;}
    &__md::after  {width:40px;height:9px;}
    &__md::before {width:9px;height:40px;}
    &__lg::after  {width:40vmin;height:12px;}
    &__lg::before {width:12px;height:40vmin;}
    &__bg::after  {width:50vmin;height:12px;}
    &__bg::before {width:12px;height:50vmin;}
  }
  @include responsive (tablette)   {
    &__sm::after  {height:3px;}
    &__sm::before {width:3px;}
    &__md::after  {height:6px;}
    &__md::before {width:6px;}
    &__lg::after  {height:14px;}
    &__lg::before {width:14px;}
    &__bg::after  {height:14px;}
    &__bg::before {width:14px;}
  }
  @include responsive (sdesktop)   {
    &__sm::after  {height:3px;}
    &__sm::before {width:3px;}
    &__md::after  {height:9px;}
    &__md::before {width:9px;}
    &__lg::after  {height:18px;}
    &__lg::before {width:18px;}
    &__bg::after  {height:18px;}
    &__bg::before {width:18px;}
  }
}