.head-expertises{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
	.home-title-section{
		margin-bottom: 20px;
	}
}

.body-expertises{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.picto-expertises{
	display: block;
	margin-right: auto;
	max-height:90px;
	max-width: 100px;
	padding-bottom: 25px;
}

.expertises-col{
	padding:25px;
	max-width: 320px;
	@include responsive(smartphone){
		padding: 25px 0;
		max-width: none;
	}
}

.w-33{
	@include responsive(desktop){
		width: 33%;
	}
}

.btn-expertise-mobile{
	@include responsive(smartphone){
		position: relative;
		top: 50px
	}
}

