.faq{
	li{
		overflow: hidden;
		transition: .3s;
		h4{
			position: relative;
			cursor: pointer;
			font-weight: $bold;
			margin-bottom: 10px;
			transition: .3s;
			user-select: none;

			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 12px;
				display: block;
				height: 0;
				width: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 7px solid $red;
				transition: .3s;
			}

			&:hover,&.drawer-btn-open{
				color: $red;
			}
			&.drawer-btn-open{
				&:after{
					transform: rotate(180deg);
				}
			}
		}
		margin-bottom: 20px;
	}
}
