.footgreen {
	padding:120px 160px;
	@include responsive (sdesktop)   {padding:100px 80px;}
	@include responsive (tablette)   {padding:80px 60px;}
	@include responsive (smartphone) {padding:60px 40px;}
	background:$green;
}
	.footgreen--menu {
		a {
			text-decoration: none;
			display: inline-block;
			position:relative;

			transition:.3s $easeOutP5;
			color:#fff;
			&:hover {
				color:darken($green, 15%);
			}
		}

		> .menu-list {
			display: flex;
			@include responsive (tablette)   {flex-wrap: wrap;}
			@include responsive (smartphone) {flex-wrap: wrap;}
			> li {
				padding-right:40px;
				width:100%;
				@include responsive (tablette)   {width:50%;}
				@include responsive (smartphone) {width:50%;}
				@media (max-width: 560px) {width:100%;padding-right:0;}
				@include responsive (tablette)   {padding-bottom:24px;}
				@include responsive (smartphone) {padding-bottom:24px;}
				> a {
					font-weight: $heavy;
					text-transform: uppercase;
					letter-spacing: 3.56px;
					line-height:1.38;
				}

				> ul {
					line-height:1;
					padding-top:24px;
					@include responsive (tablette)   {padding-top:12px;}
					@include responsive (smartphone) {padding-top:12px;}
					> li {
						margin-bottom: 16px;
						> a {

						}
					}
				}
			}
		}
	}









.footwhite {
	padding:120px 160px;
	@include responsive (sdesktop)   {padding:100px 80px;}
	@include responsive (tablette)   {padding:80px 60px;}
	@include responsive (smartphone) {padding:60px 40px;}

	background:#fff;
	display: flex;
	align-items:flex-start;
	justify-content: space-between;

	@include responsive (tablette)   {flex-wrap: wrap;}
	@include responsive (smartphone) {flex-wrap: wrap;}
}
	.footwhite--col {
		padding-right:40px;
		width:100%;
		@include responsive (tablette)   {width:50%;}
		@include responsive (smartphone) {width:50%;}
		@media (max-width: 560px) {width:100%;padding-right:0;}
		@include responsive (tablette)   {padding-bottom:34px;}
		@include responsive (smartphone) {padding-bottom:34px}

		&:last-child{
			@include responsive (smartphone) {padding-bottom:0}
		}

		img,
		svg {
			display: block;
			height:auto;
			max-width: 100%;
			@include responsive (smartphone) {
				margin-left:auto;
				margin-right:auto;
			}
		}
	}
		.footwhite--title {
			text-transform: uppercase;
			@include fs(16);
			margin-bottom:36px;
			font-weight: $bold;
			letter-spacing: 4.1px;
			color: $orange;
		}
		.footwhite--desc {
			@include fs(16);
			line-height:1.88;
			> *:not(last-child) {
				margin-bottom: 1em;
			}
		}
		.footwhite--listlink {
			li {
				a {
					text-decoration: none;
					color:$green;
					line-height:2.13;
					transition:.3s $easeOutP5;
					&:hover {
						color:darken($green, 15%);
					}
				}
			}
		}

		.footwhite--spec {}
			.footwhite--spec-label1 {
				@include fs(16);
				line-height:2.13;
				margin-bottom: 0.5em;
			}
			.footwhite--spec-select {
				// reset some stuff
				outline:none;
				letter-spacing: inherit;
				height: inherit;
				padding: inherit;
				-webkit-appearance: none;
				border-radius: 0;
				font-size: inherit;
				border:0;

				// style
				width:100%;
				border-bottom:1px solid $orange;
				@include fs(21);
				line-height: 1.62;
				padding-right:30px;
			}
			.footwhite--spec-selectcont {
				max-width: 310px;
				position:relative;
				&::after {
					pointer-events: none;
					content:"";
					width:18px;
					height:12px;
					background:url('../img/fleche-select-centres.svg') no-repeat center center;
					display: block;
					position:absolute;
					top:0;bottom:0;
					right:0;
					margin:auto;
				}
			}
			.footwhite--spec-label2 {
				margin-top: 1.5em;
				@include fs(18);
				line-height:1.62;
			}
			.footwhite--spec-result {
				@include fs(21);
				font-weight:$bold;
			}



.footsub {
	background:#ecf2ef;
	padding:15px 0;
	text-align: center;
	li {
		display: inline-block;
		@include responsive (smartphone) {display: block;}
		margin:0 15px;
		a {
			display: block;

			padding:5px 15px;

			text-decoration:none;
			@include fs(16);
			@include responsive (smartphone) {@include fs(12);}
			letter-spacing: 0.5px;

			transition:.3s $easeOutP5;
			color:$orange;
			&:hover {
				color:darken($orange, 15%);
			}
		}
	}
}
