/* $GALLERY
   ========================================================================== */

$gallery-bg-color: $darkGrey;
$gallery-filter-color: #575351;

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  // margin-bottom: 50px;
  @include responsive(smartphone) {
    display: block;
  }
}
.gallery--item {
  cursor: pointer;
  position: relative;
  flex: 0 0 auto;
	width: calc(50% - 6px);
	margin-bottom: 100px;
	a{
		display: block;
	}
	@include responsive(smartphone) {
		width: 100%;
		margin-bottom: 30px;
	}
	&:hover{
		.gallery--item--picture img{
			transform: scale(1.1);
		}
	}
}
.gallery--item--picture {
	height: 250px;
	position: relative;
	overflow: hidden;
	background-color: $grey;
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		font-family: "object-fit: cover;";
		transition: 0.7s $easeInOutCirc;
	}
}
.gallery--item--info{
	margin-top: 15px;
}
.gallery--item--date {
	color: $ccmain;
	@include fs(14);
}
.gallery--item--title {
	color: $ccmain;
  @include fs(26);
  font-weight: $normal;
  line-height: 1.7;
  position: relative;
  @include responsive(smdevice) {
    @include fs(18);
  }
}

/* ==== GALLERY FILTERS ==== */

.gallery-filters {
	display: flex;
	justify-content: flex-start;
	margin-top: 120px;
	margin-bottom: 20px;
	@include fs(14);
	@include responsive(smartphone){
		flex-direction: column;
		margin-bottom: 0;
	}
	.gallery-filters-title{
		margin-left: 10px;
		@include responsive(smartphone){
			margin-bottom: 20px;
		}
		flex-shrink: 0;
		color: $ccmain;
		text-transform: uppercase;
	}
	ul{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		li{
			margin-left: 15px;
			margin-bottom: 8px;
			padding: 0px 8px;
			color: lighten($ccmain, 60%);
			transition: .3s;
			a,span{
				text-transform: uppercase;
				text-decoration: none;
				padding-bottom: 5px;
			}

			&:hover,&.is-active{
				background-color: transparentize($orange, 0.4);
				color: white;
				cursor: pointer;
			}
			&.is-active{
				background-color: $orange;
			}

		}
	}


}
