.homeskew{
	position: relative;
	overflow: hidden;
	height: calc(100vh - 110px);
	@include responsive(smdevice){
		height: calc(100vh - 50px);
	}
	>img{
		min-height: 100%;
		min-width: 75%;
		height: 100%;
		top: 0;
		left: -15%;
		position: absolute;
		object-fit: cover;
		@include responsive(smdevice){
			min-height: 40%;
			min-width: 100%;
			height: 40%;
			left: 0%;
		}
	}
	.homeskew-content{
		position: relative;
		background-color: white;
		height: 100%;
		width: 60%;
		margin-left: 50%;
		padding-right: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: skew(-10deg);
		>*{
			transform: skew(10deg);
		}
		@include responsive(smdevice){
			width: 100%;
			margin-left: 0;
			top: 40%;
			transform: skew(0);
			padding-right: 0;
			height: 60%;
			>*{
				transform: skew(0);
			}
		}

		.homeskew-content--inner{

			h1{
				color: $red;
				text-transform: uppercase;
				@include fs(96);
				line-height: 1;
				font-weight: $bold;
				font-style: italic;
			}
			p{
				margin-top: 5px;
				margin-left: -30px;
				display: flex;
				align-items: center;
				@include fs(21);
				text-transform: uppercase;
				font-style: italic;
				img{
					margin-right: 10px;
					height: auto;
				}
			}
			.homeskew-actions{
				margin-top: 30px;
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
				>*{
					margin-right: 25px;
				}
				@include ie{
					.btn{
						//width: 100%;
					}
				}
			}
			@include responsive(mdesktopdown){
				h1{
					@include fs(60);
				}
				p{
					@include fs(16);
					margin-left: -30px;
					img{
						height: 10px;
					}
				}
				.homeskew-actions{
					flex-direction: column;
					>*{
						margin-bottom: 20px;
					}
				}
			}
			@include responsive(smartphone){
				h1{
					@include fs(50);
				}
				p{
					@include fs(12);
					margin-left: -30px;
					img{
						height: 10px;
					}
				}
				.homeskew-actions>*{
					margin: 0 auto 20px;
				}
			}
		}
	}
}
