/* $ICONS
   ========================================================================== */

@font-face {
  font-family: "chambre-vibert";
  src:url("../fonts/chambre-vibert.eot");
  src:url("../fonts/chambre-vibert.eot?#iefix") format("embedded-opentype"),
    url("../fonts/chambre-vibert.woff") format("woff"),
    url("../fonts/chambre-vibert.ttf") format("truetype"),
    url("../fonts/chambre-vibert.svg#chambre-vibert") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chambre-vibert" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.icon-font:before,
.icon-font-after:after {
  font-family: "chambre-vibert" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\46";
}
.icon-facebook-ofi:before {
  content: "\47";
}
.icon-check:before {
  content: "\49";
}
.icon-linkedin:before {
  content: "\53";
}
.icon-twitter:before {
  content: "\58";
}
.icon-wordpress-alt:before {
  content: "\36";
}
.icon-alert:before {
  content: "\61";
}
.icon-arrow-left:before {
  content: "\62";
}
.icon-arrow-right:before {
  content: "\63";
}
.icon-close:before {
  content: "\64";
}
