.link-fx,%link-fx{
	display: inline-block;
	backface-visibility: hidden;
	position: relative;
	text-decoration: none;
	line-height: 1;
	&:before,&:after{
			content:"";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0px;
			width: 0%;
			height: 2px;
			background-color: currentColor;
	}
	&:after{
			transition: all .3s $easeInOutP4;
			transform: translate3d(0, 0, 0);
	}
	&:hover, &:active, &.link-fx--hovered{
			&:after{
					visibility: visible;
					opacity: 1;
					width: 	100%;
			}
	}
	&.link-fx--white{
			color: white;
			&::before, &:after{
					color: white;
			}
	}
}

.link-fx--underlined {
	display: inline-block;
	color: black;
	@extend .link-fx;
	padding: 4px 0;
	overflow: hidden;
	cursor: pointer;
	&:before {
			width: 100%;
			transform: translate3d(-101%,0,0);
			transition: all .8s $easeInOutP4;
	}
	&:after {
			width: 100%;
			transition: all .4s $easeInOutP4;
	}
	&:hover {
			&:before {
					transform: translate3d(0,0,0);
			}
			&:after {
					transform: translate3d(101%,0,0);
			}
	}
}

.link-fx--white{
	color: white;
	&:after,&::before{
		background-color: white;
	}
}
