.gallery-filters{
	margin-top: 0;
}

.logo-tabsfilter{
	display: flex;
	justify-content: center;
}

.logotabs-wrapper{

	margin: 70px -30px 50px;
	@include responsive(smdevice){
		margin: 20px -30px 20px;
	}
	.logotabs-slide{
		outline: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		img{
			margin: 20px 30px;
			max-height: 50px;
			@include responsive(smartphone){
				margin: 10px 20px;
			}
		}
		.markup{
			width: 100%;
			margin: 30px 30px 0;
			@include fs(21);
			line-height: 1.7;
			@include responsive(smdevice) {
					@include fs(16);
			}
		}
	}
	.slick-dots{
		display: flex;
		justify-content: center;
		margin-top: 20px;
		li{
			margin: 5px 10px;
			background-color: #8A8D8F;
			border-radius: 50%;
			width: 13px;
			height: 13px;
			transition: .3s;
			button{
				visibility: hidden;
			}
			&.slick-active{
				background-color: $orange;
				transform: scale(1.3);
			}
		}
	}
}
