/* $MAP
   ========================================================================== */

#map-canvas{
  height: 0;
  width: 100%;
  padding-bottom: 76%;
  margin-bottom: 30px;
  @include responsive(smartphone) {
    padding-bottom: 90%;
  }
  .map-infowindow {
  	margin-bottom: 0;
  	.address-title {
  		&:before {
  			display: none;
  		}
  	}
  }
 }

.map-infowindow {
	@include fs(14);
	line-height: 1.5;
	margin-bottom: 90px;
  @include responsive(smartphone) {
    margin-bottom: 30px;
    @include fs(12);
  }
	.address-title {
		cursor: pointer;
		margin: 0 0 10px 0;
	}
	&.active .address-title, .address-title:hover {
			&:before {
				width: 65px;
			}
	}
}

// Map Google réseau d'agences
#map-ctnr{
	margin: 80px auto 0;
	@include responsive(tablette) {
		padding: 0;
	}
	background: green;

	.wrapper-large--map {
		@include responsive(tablette) {
			padding: 0;
		}
	}

	// .map-buttons-ctnr {
	// 	padding: 40px 0 20px;

	// 	button {
	// 		position: relative;
	// 		width: 33.333333333333333%;
	// 		float: left;
	// 		padding: 0 0 8px;
	// 		text-align: center;
	// 		background: transparent;
	// 		border-bottom: 1px solid transparent;
	// 		cursor: pointer;
	// 		transition: .25s;

	// 		span {
	// 			position: relative;
	// 			font-family: $typoTitle;
	// 			@include fs(28);
	// 			color: red;
	// 			transition: .25s;

	// 			&:before {
	// 				content: "";
	// 				display: block;
	// 				position: absolute;
	// 				left: 0;
	// 				top: 50%;
	// 				transform: translate(-200%,-50%);
	// 				width: 10px;
	// 				height: 10px;
	// 				border-radius: 50%;
	// 			}
	// 		}

	// 		&:hover, &.map-button-activ {
	// 			span {color: $ccmain;}
	// 		}
	// 		&:focus{outline: 0;}

	// 	}

	// 	#allMarkers {
	// 		&.map-button-activ {
	// 			border-bottom: 1px solid $ccmain;
	// 		}
	// 		span {
	// 			&:before {
	// 				background: $ccmain;
	// 			}
	// 		}
	// 	}

	// 	#markers1 {
	// 		position: relative;
	// 		left: 50%;
	// 		transform: translateX(-50%);
	// 		&.map-button-activ {
	// 			border-bottom: 1px solid #003372;
	// 		}
	// 		span {
	// 			&:before {
	// 				background: #003372;
	// 			}
	// 		}
	// 	}

	// 	// #markers2 {
	// 	// 	&.map-button-activ {
	// 	// 		border-bottom: 1px solid $red;
	// 	// 	}
	// 	// 	span {
	// 	// 		&:before {
	// 	// 			background: $red;
	// 	// 		}
	// 	// 	}
	// 	// }
	// }

	#map{
		// max-width:930px;
		width: 100%;
		height:600px;
		margin: 0 auto;
	}
}

.gm-style-iw {
	text-align: left;

	p{
		margin: 5px 0;
	}
}

.ael{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
