$color:#ccc;
// markup style
.markup {
    &:first-child {
        // margin-top: 150px;

    }
    @include fs(21);
    line-height: 1.7;
    @include responsive(tablette) {
        @include fs(16);
    }
    @include responsive(smartphone) {
        @include fs(16);
        margin-bottom: 30px;
    }
    >* {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        &:first-child {
            @include responsive(smartphone) {
                margin-top: 40px;
            }
        }
		}
		.custom-format{
			opacity: 0;
			visibility: hidden;
		}
    a:not(.custom-format) {
        // color: rgba($ccmain, 0.8);
        position: relative;
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: bold;
        // padding-bottom: 6px;
				white-space: nowrap;
				@extend %link-fx;
    }
    b,
    strong {
        font-weight: $bold;
    }
    ul {
			>li {
				position: relative;
				padding-left: 100px;
				margin-bottom: 20px;
				@include responsive(smdevice) {
						padding-left: 70px;
				}
				&:before {
					content: url(../img/codival-dot.svg);
					position: absolute;
					left: 0;
					top: 0;
					height: 0;
					@include responsive(smdevice) {
						transform: scale(0.5);
					}
					@include responsive(smartphone) {
						top: 4px;
					}
				}
				>ol {
						padding-left: 20px;
						counter-reset: list-ol;
						li {
								&:before {
										counter-increment: list-ol;
										content: counters(list-ol, '.') ".";
										margin-right: 5px;
										font-weight: $bold;
										text-align: right;
										color: $color;
								}
						}
				}
			}
    }
    >ol {
        padding-left: 40px;
        counter-reset: list-ol;
        >li {
            position: relative;
            >ol {
                padding-left: 30px;
                counter-reset: list-ol;
                li {
                    &:before {
                        counter-increment: list-ol;
                        content: counters(list-ol, '.') ".";
                        margin-right: 5px;
                        font-weight: $bold;
                        text-align: right;
                        color: $color;
                    }
                }
            }
            &:before {
                counter-increment: list-ol;
                content: counters(list-ol, '.') ".";
                margin-right: 5px;
                font-weight: $bold;
                text-align: right;
                color: $color;
            }
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
				color: $green;
        margin-top: 20px;
				font-weight: $bold;
				text-transform: uppercase;
				letter-spacing: 0.2em;
    }
    h1 {
        @include fs(30);
    }
    h2 {
        @include fs(28);
    }
    h3 {
        @include fs(26);
    }
    h4 {
				@include fs(24);
				color: $ccmain;
    }
    h5 {
				@include fs(22);
				color: $ccmain;
    }
    h6 {
				@include fs(20);
				color: $ccmain;
    }
    img {
			max-width: 100%;
			height: auto;
			&.alignright{
				float: right;
				margin: 10px 0px 10px 10px;
			}
			&.alignleft{
				float: left;
				margin: 10px 10px 10px 0;
			}
			&.alignnone{
				display: block;
			}
			&.aligncenter{
				margin: auto;
				display: block;
				margin: 10px auto;
			}
    }
    &:not(.markup__2cols) blockquote {
       // max-width: 900px;
        margin-left: auto;
        margin-right: auto;
				@include fs(36);
				font-weight: $bold;
        font-style: italic;
        line-height: 1.22;
        text-align: left;
        @include responsive(smartphone) {
            @include fs(22);
        }
        @media screen and (min-width: 800px) {
            // margin-left: -30px;
            // margin-right: -30px;
        }
		}
		iframe{
			width: 100%;
			@include responsive(smartphone){
				height: 200px;
			}
		}
}

// Markup cols
.markup__2cols {
    @include responsive(minsmartphone) {
        column-count: 2;
        column-gap: 85px;
    }
}




/* MARKUP MODIFIERS
--------------------- */

.markup__space-md {
    >*,
    >p {
        &:first-child {
            margin-top: 40px;
        }
    }
}

.descriptions {
    @include fs(18)
}
