.membersbook{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: -50px;

	.membersbook--member{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0 50px 50px;
		.membersbook--member--photo{
			display: block;
			border-radius: 50%;
			width: 180px;
			height: 180px;
			border: 7px solid transparentize($color: $red, $amount: 0.3);
			object-fit: cover;
			box-sizing: border-box;
			transition: 0.7s $easeInOutCirc;
		}
		.membersbook--member--name{
			@include fs(21);
			font-weight: $medium;
			color: $red;
			width: 180px;
		}
		.membersbook--member--job{
			@include fs(16);
			color: black;
			width: 180px;
		}
		a{
			text-decoration: none;
		}

		&.membersbook--member--big{
			.membersbook--member--name{
				@include fs(32);
				width: auto;
			}
			.membersbook--member--job{
				@include fs(22);
			}
		}

		&.membersbook--member--management .membersbook--member--photo{
			border: 7px solid $red;
		}

		&:hover{
			&:not(.membersbook--member--big){
				.membersbook--member--photo{
					transform: scale(1.03);
				}
			}
		}
	}
}
