/* $MOBILE MENU
   ==========================================================================
*/

$mobileMenuTopSpace: 70px;
$mobileMenuZ: 10000;
$mobileNavHeight: 70px;

// @extend-elements
// original selectors
// .fwmb-menu-wrapper li.fwmb-back:before, .fwmb-menu-wrapper li >a:not(:only-child):before

%submenu-handler {
	&:before {
		content: "";
		position: absolute;
		height: 20px;
		width: 20px;
		top: calc(50% - 10px);
		left: calc(50% - 15px);
		border-left: solid 1px white;
		border-bottom: solid 1px white;
		transform: rotate(-135deg);
	}
}
%submenu-handler__open {
	&:before {
		top: calc(50% - 15px);
		left: calc(50% - 10px);
		transform: rotate(-45deg);
	}
}

.fwmb-menu-wrapper {
	@include fs(15);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: $light;

	// HIDE mobile-menu
	visibility: hidden;
	opacity: 0;
	pointer-events: none;

	@extend .absolute-fit;

	height: calc(100% - #{$mobileNavHeight});
	top: $mobileMenuTopSpace;
	position: fixed;
	z-index: $mobileMenuZ;
	overflow: auto;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
	// background: #fff;
	// background-image: linear-gradient(-141deg, #0097dd 4%, $blue 90%);
	transition: all 0.3s $cCubic;
	// Scrollbar
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
 		background: $scrollbar;
 	}
	body.has-fwmbmenuopen & {
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}

	// FIRST PAN HEAD
	.fwmb-menu-head {
		width: 100%;
		position: relative;
		padding: 27px 20px;
		color: white;
		font-weight: $light;
		border-bottom: 1px solid rgba(255,255,255,.3);
		a {
			text-decoration: none;
			// padding: 20px 0;
		}
		.link__logout {
			em {
				display: inline-block;
				font-weight: $light;
				font-style: normal;
				transform: scale(1.8);
				position: relative;
				top: -2px;
				margin-right: 8px;
			}
		}
		.menu-switchlang {
			@include fs(12);
			position: static;
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				display: flex;
				align-items: center;
				&:first-child:after {
					content:"|";
					@include fs(12);
					color: white;
					opacity: .7;
				}
				&:only-child:after {
					display: none;
				}
				&:last-child a {
					margin-right: 0;
				}
			}
			a {
				position: relative;
				font-weight: $normal;
				@include fs(12);
				color: white;
				text-transform: uppercase;
				letter-spacing: .8px;
				text-decoration: none;
				margin: 0 5px;
				padding: 2px;
				opacity: .7;
				transition: .3s $easeOutQuad;
				&:hover {
					color: #fff;
					opacity: 1;
				}
			}
			.current-lang a {
				color: #fff;
				opacity: 1;
			}
		}
	}
	// LIST
	ul {
		padding: 0;
		list-style: none;
		transform-style: preserve-3d;
	}
	li {
		&.menu-item {
			position: relative;
			border-top: 1px solid rgba(255,255,255,.3);
			overflow: hidden;
		}
		&.menu-item:first-child {
			border-top: 0;
		}
		&.active {
			// .submenu {
			// 	display: block;
			// 	max-height: initial;
			// 	height: 100%;
			// 	padding: 15px 0;
			// }
			.item-link-arrow {
				@extend %submenu-handler__open;
			}
		}
		&:last-child {
			&.menu-item {
				border-bottom: 1px solid rgba(255,255,255,.3);
			}
		}
		// LEVEL 1 direct children
		&.menu-item > a {
			padding: 28px 10px 27px 20px;
			@include fs(15);
			color: #fff;
			font-weight: $normal;
			min-height: 80px;
			// z-index: 10;
		}
		// LEVEL 2 all children
		a {
			display: block;
			position: relative;
			padding: 15px 20px 15px 40px;
			@include fs(14);
			color: darken(white,5%);
			outline: none;
			text-decoration: none;
			transition: all 0.3s $cCubic;
		}
		// Arrow block opens submenu
		.item-link-arrow {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 80px;
			height: 80px;
			background: darken($green,3%);
			border-left: 1px solid rgba(#fff,.3);
			&:before {
				@extend %submenu-handler;
			}
		}
		.submenu {
			// display: none;
			border-top: 1px solid rgba(255,255,255,.2);
			padding: 15px 0;

			// height: 0;
			// max-height: 0;
			// transition: all .4s $easeInQuad;
		}
	}
	.fwmb-menu-wrapper {
		@extend .absolute-fit;
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(-250px);
		transform: translateY(-250px);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&.fwmb-menu-toggle {
			transition: all 0.3s $cCubic;
		}
		&.fwmb-menuopen {
			opacity: 1;
			pointer-events: auto;
			transform: translateY(0px);
		}
	}
}
.fwmb-menu-wrapper {
	&.fwmb-animate-out-1 {
		animation: MenuAnimOut1 0.2s $cCubic;
	}
	&.fwmb-animate-in-1 {
		animation: MenuAnimIn1 0.3s $cCubic;
	}
}


.no-touch .fwmb-menu-wrapper li a:hover {
	background: rgba($green, 0.05);
}
.no-touch .fwmb-menu-wrapper li a:active {
	background: rgba($green, 0.08);
}
.no-js .fwmb-menu-wrapper {
	.fwmb-menu {
		position: relative;
		opacity: 1;
		transform: none;
	}
	li {
		.submenu {
			display: block;
		}
		&.fwmb-back {
			display: none;
		}
		> a:not(:only-child) {
			// background: $blue;
			&:before {
				content: '';
			}
		}
	}
}

@keyframes MenuAnimOut1 {
	0% { }
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes MenuAnimIn1 {
	0% {
		transform: translateX(-101%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
