/* $MOBILE SITENAV
   ==========================================================================
*/

$mobileSitenavBorderSpace: 20px;
$mobileSitenavZ: 1000;
$mobileSitenavBg: $green;
$mobileNavHeight: 70px;

// burger
$burgerLinesTranslate: 120%;
$burgerLine1Pos: 0px;
$burgerLine2Pos: 6px;
$burgerLine3Pos: 12px;
.mobile-sitenav {
	// HIDE mobile-menu
	height: $mobileNavHeight;
	body.has-fwmbmenuopen & {
		// SHOW mobile-menu
  	height: 100%;
	}

  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $mobileSitenavZ;
  // transition: all 0.3s $cCubic 0.1s;
  @include responsive(desktop) {
    display: none;
  }
  .scrolled &, .sitenav--gradient &, .has-fwmbmenuopen & {
  	// background-image: $smallgradient;
  	background-color: $green;
  }
}

.mobile-sitenav--inner {
  position: relative;
  // height: 100%;
  height: $mobileNavHeight;
  display: flex;
	padding: 0;
  justify-content: space-between;
  // overflow: hidden;
  // z-index: 1;
  background: #fff;
}

.mobile-sitenav--item {
  align-items: center;
  display: flex;
}

.mobile-sitenav--group {
	display: flex;
	margin-left: auto;
	align-items: center;
}

// TITLE
.mobile-sitenav--title {
  position: relative;
	max-width: 280px;
  width: auto;
  height: 100%;
	padding-left: $mobileSitenavBorderSpace;
  transition: all 0.2s $cCubic;
}

// .mobile-sitenav--title--logo {
//   display: block;
//   width: 100%;
//   margin: 0;
//   > svg, > img {
//     display: block;
// 		// height: 50px;
//     width: 100px;
//     padding: 7px 0;
//     margin: 0 auto;
//   }
// }

.mobile-sitenav--title--logo {
	display: block;
	padding: 10px 0;
	width: 100%;
  margin: 0;
	> svg, > img {
		width: 170px;
		height: 100%; // align vertically
		vertical-align: top;
	}
	&:nth-child(1) {
		position:absolute;
		top:0px;
	}
	&:nth-child(2) {
		margin-left:115px;
	}
}

// fwmb-menu button
.fwmb-trigger {
	height: 100%;
	background-color: transparent;
	padding: 0;
	padding-right: $mobileSitenavBorderSpace;
	outline: none;
}

// BURGER
.mobile-sitenav--burger {
  width: 35px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: none;
  text-indent: -900em;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  transition: all 0.3s $cCubic;
  &:hover {
    .mobile-sitenav--burger--line {
      &:nth-child(1) {
        transform: translateY($burgerLine1Pos);
        background: $green;
      }
      &:nth-child(2) {
        transform: translateY($burgerLine2Pos);
        background: $green;
      }
      &:nth-child(3) {
        transform: translateY($burgerLine3Pos);
        background: $green;
      }
    }
  }
  body.has-fwmbmenuopen & {
    .mobile-sitenav--burger--lines {
      transform: rotate(90deg);
    }
    .mobile-sitenav--burger--line {
      transition: all 0.4s $cCubic 0.2s, opacity 0.3s $cCubic;
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background: $green;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(5px) rotate(-45deg);
        background: $green;
      }
    }
  }
}

.mobile-sitenav--burger--lines {
  height: 26px;
  padding-top: 4px;
  overflow: hidden;
  transform: rotate(0deg);
  transition: all 0.3s $cCubic;
}

.mobile-sitenav--burger--line {
  position: relative;
  content: "";
  width: 30px;
  height: 2px;
  background: $green;
  margin: auto;
  transition: all .55s cubic-bezier(.19, 1, .22, 1);
  &:nth-child(1) {
    transform: translateY($burgerLine1Pos);
  }
  &:nth-child(2) {
    transform: translateY($burgerLine2Pos);
    transition-delay: 0.05s;
  }
  &:nth-child(3) {
    transform: translateY($burgerLine3Pos);
    transition-delay: 0.1s;
  }
}
