.module--wysiwyg__content{
	display: flex;
	justify-content: space-between;
	.title-section{
		@include fs(40);
	}
	@include fs(24);
	@include responsive(smartphone){
		@include fs(18);
	}

	@include responsive(mdesktopdown){
		flex-direction: column;
	}
}


