.module{
	padding: 70px 0;
	@include responsive(smartphone){
		padding: 40px 0;
	}
	&.module--blue{
		background-color: $blueGround;
	}
	&.module-light-blue{
		background-color: $blueLight;
	}

	&.module-green{
		background-color: #F3F8F5;
		padding: 70px 0;
		@include responsive(smdevice){
			padding: 40px 0;
		}
	}
	&.module-grey{
		background-color: $grey;
	}
	&.module-light-blue,&.module--blue{
		.module.module--socialshare + &{
			margin-top: 50px;
		}
	}

}

.module.module--socialshare{
//	margin: 50px 0;
	padding: 0;
	pointer-events: none;
	p, svg{
		pointer-events: all;
	}
	p{
		margin-bottom: 10px;
		color: black;
	}
	svg {
		height: 22px;
		margin-right: 10px;
		path{
			fill: $blueTitle;
			transition: .3s;
			&:hover{
				fill: $blue;
			}
		}
	}
	.module--blue+&{
		padding-top: 50px;
	}

	.module--ct-slider+&{
		margin-top: -130px;
		padding-bottom: 30px;
		@include responsive(smartphone) {
			margin-top: -110px;
		}
	}

	.module--twoblocks+&{
		margin-top: -45px;
	}
	a{
		text-decoration: none;
	}
}


.module--multiblocks{
	margin-bottom: -50px;
	.col{
		margin-bottom: 50px;
	}
}
