/* $PAGINATION
   ========================================================================== */

//@extend-elements
//original selectors
//.archive-pagination li a:hover, .archive-pagination li.active a
%link-active {
	display: inline-block;
	border: 1px solid $ccmain;
}

.pagination {
	margin: 50px 0 120px;
	@include responsive(smartphone) {
		margin: 30px 0 50px;
	}
	display: inline-block;
	width: 100%;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0 5px;
		padding: 0;
		list-style: none;
		list-style-type: none;
		display: inline-block;
		@include fs(18);
		@include responsive(smartphone) {
			@include fs(12);
			margin: 0 3px;
		}
		a, span {
			display: inline-block;
			width: 40px;
			line-height: 40px;
			background-color: #8A8D8F;
			color: white;
			text-decoration: none;
			transition: all 0.3s cubic-bezier(.59,-0.18,.4,1.22);
			@include responsive(smartphone) {
				width: 30px;
				line-height: 30px;
			}
			&:hover {

			}
		}
		.current{
			background-color: $orange;
		}
	}
}
.pagination-omission {
	line-height: 40px;
	vertical-align: text-top;
}
