.body-partenaires{
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	@include responsive(desktop){
		justify-content: space-between;
	}
	@include responsive(tablette){
		justify-content: space-between;
	}
	@include responsive(smartphone){
		flex-wrap: wrap;
	}
	padding-top: 50px;

	a.btn{align-self:auto;}
}

.txt-partenaires{
	@include responsive(desktop){
		width: 70%;
	}
	@include responsive(tablette){
		width: 70%;
	}
}
