
.rescard {
  display: flex;
  align-items:center;

  @include responsive (sdesktop)   {}
  @include responsive (tablette)   {}
  @include responsive (smartphone) {flex-direction: column;padding:0 10px;}
}
  .rescard--logoc {
    border-radius:50%;
    background:#fff;
    width:260px;height:260px;
    @include responsive (sdesktop)   {width:240px;height:240px;}
    @include responsive (tablette)   {width:220px;height:220px;}
    @include responsive (smartphone) {width:200px;height:200px;}

    display: flex;
    > svg,
    > img {
      margin:auto;
      display: block;
      height:auto;
      max-width: 70%;
      max-height: 70%;
    }
    position:relative;
    /*&::before {
      content:"";
      position:absolute;
      border:1px dashed $orange;
      border-radius:50%;

      top:-20px;left:-20px;right:-20px;bottom:-20px;
      @include responsive (smartphone) {top:-10px;left:-10px;right:-10px;bottom:-10px;}
    }*/
  }
  .rescard--logoborder {
    position:absolute;
    top:-20px;left:-20px;right:-20px;bottom:-20px;
    @include responsive (smartphone) {top:-10px;left:-10px;right:-10px;bottom:-10px;}
    svg {
      width:100%;height:100%;
    }
  }
  .rescard--infos {
    position: relative;
    z-index: 2;
    background:#fff;
    padding:40px 50px;
    border-radius:20px;

    width:320px;
    @include responsive (smartphone) {
      width:280px;
      padding:20px 20px;
    }

    @include fs(15);
    color:$black;

    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    margin-left:-20px;
    @include responsive (smartphone) {
      margin-left:0;
    }
  }
    .rescard--title {
      @include fs(18);
      font-weight: $bold;
    }
    .rescard--desc {
    }
    .rescard--contact {
      color:$orange;
    }
