/* $SITENAV
   ==========================================================================
*/

$sitenavZ: 1000;

.header--main {
	top: 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 110px;
	@include responsive(mdesktopdown){
		height: 90px;
	}
	@include responsive(smartphone) {
		height: 70px;
	}
	@include responsive(tablette) {
		height: 70px;
	}
	box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.3);
	z-index: 10;
}

.global-container{
	margin-top: 110px;
	@include responsive(mdesktopdown){
		margin-top: 90px;
	}
	@include responsive(smartphone) {
		margin-top: 70px;
	}
	@include responsive(tablette) {
		margin-top: 70px;
	}
}

.sitenav {
	background-color: #fff;
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	z-index: $sitenavZ;
	@include responsive(smartphone) {
		display: none;
	}
	@include responsive(tablette) {
		display: none;
	}
	position: relative;
}

// SITE NAV LEVEL 1
.sitenav--inner {
	//OLD > .sitenav--inner
	display: flex;
	height: 100%;
	flex-direction: row;
}

.sitenav--title {
	display: flex;
	a {
		display: flex;
		padding:0 20px;
		svg,
		img {
			display: block;
			margin:auto;
			width: 270px;
		}
	}
}

ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul.polylang--nav {
	display: flex;
	align-items: center;
	padding: 5px 20px;
	@include responsive(large){
		padding: 5px 25px;
	}
	@include responsive(mdesktopdown){
		padding: 5px 10px;
	}
	height: 100%;
	li{
		a {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: $normal;
			color: $orange;
			margin: 0 5px;
			padding-bottom: 5px;
			@include fs(16);
			@extend %link-fx;
		}
	}
	.current-lang a{
		&:after{
			width: 100%;
		}
	}
}

.sitenav-lang{
	display: flex;
	margin-left: auto;
	max-width: calc(100vw - 420px);
	@include responsive(mdesktopdown){
		max-width: calc(100vw - 350px);
	}
}

.sitenav-search{
	display: flex;
	//margin-left:auto;
	height: 100%;
	width: 110px;
	background-color: $orange;
	transition: 0.2s $easeOutP4;
	img{
		display: block;
		margin: auto;
	}
	&:hover{
		background-color: darken($orange,5%);
		cursor: pointer;
	}
}

.sitenav--nav {
	display: flex;
	position: relative;

	margin-left:20px;

	.menu-list {
		display: flex;

		// parent item
		> li {
			display: flex;
			position:relative;
			&::before {
				content:"";
				position:absolute;
				top:0;
				left:32px;
				right:32px;
				@include responsive(mdesktopdown){
					left:20px;
					right:20px;
				}
				height:8px;
				background:$orange;
				transition:.5s $easeOutP4;
				transform:translateY(-101%);
			}
			> a {
				color:$orange;
				display: inline-block;
				margin:auto;
				padding:16px 32px;
				@include responsive(mdesktopdown){
					padding:16px 20px;
				}
				&:hover {
					color:darken($orange, 5%);
				}
			}
			&:hover::before {
				transform:translateY(0%);
			}
		}

		// children stuff
		> li {
			.sub-menu {
				position:absolute;
				top:calc(100% - 30px);
				left:32px;
				padding:20px 30px;
				@include responsive(mdesktopdown){
					top:calc(100% - 10px);
					left:20px;
					padding:16px 20px;
				}
				background:#fff;
				box-shadow: 0 9px 12px 0 rgba(217, 217, 217, 0.5);
				white-space: nowrap;

				transition:.5s $easeOutP4;
				opacity:0;
				pointer-events:none;
				transform:translateY(6px);

				line-height: 3;

				a{
					display: block;
					transition:.5s $easeOutP4;
				}
				a:hover{
					color:$orange;
				}
			}
			&:hover {
				.sub-menu {
					opacity:1;
					pointer-events:all;
					transform:translateY(0);
				}
			}
		}
	}

	a {
		text-decoration: none;
		font-weight: $bold;
		@include fs(18);
	}



	/*.menu-list {
		display: flex;
		align-items: center;

		.sub-menu {
			visibility: hidden;
			transform-origin: top;
			opacity: 0;
			top: 99%;
			left: 0;
			position: absolute;
			transition: background-color 0.5s ease;
			display: none;
			height: auto;
			background-color: darken($red, 5%);
			width: 220px;
			max-width: 220px;
			box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
			box-sizing: border-box;
			padding: 20px 0 15px;

			> li {
				position: relative;
				padding: 0;
				color: $orange;
				text-align: left;
				padding: 0 0 10px;
				// border-bottom: 1px solid $blue;
				&:last-child {
					border-bottom: none;
				}


				a {
					width: 100%;
					transition: 0.3s;
					text-align: left;
					&:hover {
						padding-left: 35px;
					}
				}
			}
		}

		> li.current-li {
			&:before {
				opacity: 1;
			}
		}

		li:hover > ul,
		li ul:hover {
			visibility: visible;
			opacity: 1;
			display: block;
		}

		li {
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;
			a {
				height: 100%;
				display: flex;
				align-items: center;
				text-align: center;
				backface-visibility: hidden;
				position: relative;
				@include fs(16);
				color: $orange;
				font-weight: $bold;
				text-decoration: none;
				transition: 0.2s $easeOutP4;
				font-family: $typoMain;
				font-weight: 500;
				cursor: pointer;
				padding: 5px 20px;
				@include responsive(large){
					padding: 5px 25px;
				}
				@include responsive(mdesktopdown){
					padding: 5px 10px;
				}
			}
			transition: .3s;
			&:hover,
			&.current-link{
			}
		}

	}*/
}

#search_icon {
	cursor: pointer;
	height: 28px;
}

.sitenav-searchbar {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 20px rgba($ccmain, 0.1);
	.sitenav-searchbar--inner {
		display: flex;
		height: 100%;
		background-color: #fff;
		font-family: $typoMain;
		input {
			flex-grow: 1;
			border: none;
			padding: 20px;
			font-family: $typoMain;
			@include fs(32);
			color: $ccmain;
			outline: none;
		}
		button, span {
			font-family: $typoMain;
			font-weight: $medium;
			height: 100%;
			width: 110px;
			@include fs(22);
			line-height: 1;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
		}
		button {
			position: relative;
			background: $red;
			&:hover{
				background-color: darken($red,5%);
				cursor: pointer;
			}
		}
		span {
			background: $orange;
			&:hover{
				background-color: darken($orange,5%);
				cursor: pointer;
			}
		}
	}

	&.sitenav-searchbar--mobile {
		display: block;
		position: relative;
		border-bottom: 1px solid rgba(255,255,255,.3);
		.sitenav-searchbar--inner {
			input {
				min-width: 0;
				@include fs(18);
			}
			.btn {
				width: 80px;
				height: 80px;
				margin: 0;
				border-radius: 0;
			}
		}
	}
}
