/* $SLIDERS
   ========================================================================== */

// # Used with slick
// # Dependency : slick.scss

$sliderInContent-size: $contentContainer-size;


/* Sliders controls
------------------------------------- */


.slick-initialized .slick-track {
	transition: 1s cubic-bezier(0.83, 0.01, 0.31, 0.99) !important;
}

.ct-slider--wrapper{
// Prev/Next buttons
.slick-arrow {
	font-size: 20px;
	color: #fff;
	position: absolute;
	bottom: 40px;
	width: 55px;
	height: 55px;
	border: 1px dashed rgba(#fff, 0.3);
	border-radius: 100%;
	outline: none;
	z-index: 2;
	background: none;
	transition: all 0.3s $easeInOutQuad;
	&:before {
		@extend .icon-font;
		@extend .absolute-center;
		transition: all 0.3s $easeInOutQuad;
	}
	&:hover {
		background: #fff;
		border-color: #fff;
		&:before {
			color: rgba(#000, 0.5);
		}
	}
	&:active {
		background: darken(#fff, 0.15);
		border-color: darken(#fff, 0.15);
		&:before {
			color: rgba(#000, 0.5);
		}
	}
}
.slick-next {
	right: 60px;
	&:before {
		@extend .icon-arrow-right;
	}
	@include responsive(smartphone) {
		right: initial;
		left: 80px;
	}
}
.slick-prev {
	right: 130px;
	&:before {
		@extend .icon-arrow-left;
	}
	@include responsive(smartphone) {
		right: initial;
		left: 20px;
	}
}

// Line pagination
.slick-dots {
	position: absolute;
	z-index: 2;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	align-items: flex-end;
	li:only-child {
		display: none;
	}
	button {
    	// Reset
    	padding: 0;
    	background:none;
    	text-indent: 200%;
    	overflow: hidden;
    	white-space: nowrap;
    	outline: none;
    	//-//
    	width: 20px;
    	height: 25px;
    	position: relative;
    	vertical-align: bottom;
    	transition: all 0.3s $easeInOutQuad;
    	&:before {
    		content: "";
    		background: rgba(#fff, 0.5);
    		width: 2px;
    		position: absolute;
    		left: 50%;
    		top: 0;
    		bottom: 0;
    		margin-left: -1px;
    		transition: all 0.3s $easeInOutQuad;
    	}
    	&:hover {
            height: 35px;
            &:before {
                background: rgba(#fff, 0.7);
            }
        }
	}
	.slick-active {
		button {
			height: 50px;
			&:before {
				background:#fff;
			}
		}
	}
}
}

/* Content slider
------------------------------------- */
.ct-slider {
	overflow: hidden;
	.slick-arrow {
		@include responsive(smartphone) {
			visibility: hidden;
		}
	}
	.slick-dots {
		@include responsive(smartphone) {
			bottom: 10px;
			button {
				height: 15px;
			}
			.slick-active {
				button {
					height: 30px;
				}
			}
		}
	}
}

.ct-slider--slide--inner {
	position: relative;
	height: 560px;
	@include responsive(smdevice){
		height: 360px;
	}
	@include responsive(smartphone){
		height: 290px;
	}
	img {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		@include img-cover;
	}
}

// only one slide
.ct-slider--slide:only-child {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .ct-slider--slide--inner {
    	position: static;
    }
}

/* Full width slider
------------------------------------- */


.ct-slider__fw {
	@include gradientDarken('bottom', 0.7);
	background: #4c4948;
	height: 0;
	padding-bottom: 46.5%;
	@include responsive(smartphone) {
		padding-bottom: 69%;
		@include gradientDarken('bottom', 0.7, 60%);
	}
	@include responsive(big) {
		height: 790px;
		padding-bottom: 0;
	}
	.slick-list {
		@extend .absolute-fit;
	}
	.slick-track, .slick-slide, .ct-slider--slide--inner {
		height: 100%;
	}
	.slick-dots {
		@include responsive(smdevice) {
			bottom: 8px;
		}
	}
}


/* Internal page slider */

.ct-slider__incontent {
	padding-bottom: 75px;
	margin: 180px 0 125px;
	@include responsive(smartphone) {
		margin: 40px 0 40px;
		padding-bottom: 60px;
	}
	.slick-list {
		margin:0 auto;
	}
	.slick-arrow {
		bottom: 0;
		border-color: $red;
		color: $red;
		&:hover {
				background:$red;
				border-color:transparent;
				&:before {
					color: #fff;
				}
			}
			&:active {
				background: $red;
				&:before {
					color: #fff;
				}
		}
		&.slick-next{
			right: 0;
		}
		&.slick-prev{
			right: 80px;
		}
	}
	.slick-dots {
		bottom: 0;
		button {
			&:before {
				content: "";
				background: rgba(#282828, 0.5);
			}
		}
		.slick-active {
			button {
				&:before {
					background:$red;
				}
			}
		}
	}
}

/* Spaces
------------------------------------- */
/* options d'espacements verticaux */


.ct-slider__m-spaces {
	margin: 90px 0 50px 0;
	@include responsive(smartphone) {
			margin: 30px 0 30px;
	}
}
.ct-slider__s-spaces {
	margin: 45px 0 25px 0;
	@include responsive(smartphone) {
		margin: 20px 0 20px;
	}
}

.ct-slider__no-spaces {
	margin: 0;
}

.ct-slider--oneslide{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 560px;
	@include responsive(smdevice){
		height: 360px;
	}
	@include responsive(smartphone){
		height: 250px;
	}
	img{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		@include img-cover;
	}
}

.ct-slider--wrapper{
	position: relative;
	width: 100%;
	&:after{
		content: "";
		background-color: $green;
		position: absolute;
		z-index: -1;
		top: -15px;
		right: -15px;
		height: 400px;
		width: 400px;
		@include responsive(smdevice){
			height: 300px;
			width: 300px;
		}
		@include responsive(smartphone){
			height: 250px;
			width: 250px;
		}
	}
}
