.sqtitle {
}
  .sqtitle--in {
    display: inline-block;
    position:relative;
    margin:-30px -40px;
    padding:30px 40px;
    @include responsive (tablette) {
      margin:-30px -30px;
      padding:30px 30px;
    }
    @include responsive (smartphone) {
      margin:-20px -20px;
      padding:20px 20px;
    }
  }
    .sqtitle--title {
      @include fs(83);
      @include responsive (sdesktop)   {@include fs(83);}
      @include responsive (tablette)   {@include fs(74);}
      @include responsive (smartphone) {@include fs(42);}
      font-weight: 900;
      line-height: 1;
      //@media (max-width: 1280px) {br{display:none;}}
      @include responsive (smartphone) {br{display:none;}}
    }