
.timeline {
  position: absolute;
  top:0;bottom:0;
  left:128px;
  @include responsive (smartphone) {display: none;}
  @include responsive (tablette)   {left:42px;}
  @include responsive (sdesktop)   {left:96px;}
}
  .timeline--stroke {
    height:100%;
    position:absolute;
    top:0;bottom:0;
    //border-left:1px dashed #fff;
    //border-color:currentColor;
    width:2px;
    overflow: hidden;
    svg {

    }
  }
  .timeline--headline {
    position:absolute;
    top:220px;
    left:0;
  }
    .timeline--dot {
      position:absolute;
      top:-6px;
      @include responsive (tablette)   {top:-10px;}
      left:-19.5px;
      svg {
        display: block;
      }
    }
    .timeline--title {
      margin-left:74px;
      @include responsive (sdesktop)   {margin-left:56px;}
      @include responsive (tablette)   {margin-left:34px;}
      @include fs(18);
      @include responsive (tablette)   {@include fs(16);}
      text-transform: uppercase;
      font-weight: $bold;
      letter-spacing: 4.61px;
      @include responsive (tablette)   {letter-spacing: 3px;}
      //white-space: nowrap;
    }