/* $TYPOGRAPHY
========================================================================== */

/*
 * Global project text styles
 */

body {
	font-family: $typoMain;
	@include fs(18);
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: left;
	color: $ccmain;
	// -webkit-font-smoothing: subpixel-antialiased;
	@include responsive(smartphone) {
		@include fs(15);
	}
}

// Text styles
.title-page {
	font-family: $typoMain;
	font-weight: $bold;
	color: $green;
	text-transform: uppercase;
	font-style: italic;
	margin-right: auto;
	max-width: 700px;
	@include fs(85);
	line-height: 1.2;
	text-align: left;
	//  margin-bottom: $sectionItemSpace;
	@include responsive(smartphone) {
		@include fs(28);
		//  margin-bottom: $sectionItemSpaceSm;
	}
}

header.page-content--header {
	.list-media-item--meta {
		position: relative;
		top: -40px;
		@include responsive(smartphone) {
			top: -20px;
		}
	}
}

.title-page2 {
	@include fs(32);
	font-weight: $medium;
	text-align: left;
	color: #fff;
	@include responsive(smartphone) {
		@include fs(24);
	}
}

.title-media {
	//font-family: $typoSecondary;
	@include fs(32);
	text-align: left;
	color: currentColor;
}

.title-hero {
	font-family: $typoMain;
	@include fs(72);
	font-weight: $normal;
	line-height: 1.1;
	letter-spacing: 1px;
	text-align: left;
	color: #fff;
	// text-transform: uppercase;
	margin-bottom: 30px;
	@include responsive(smdevice) {
		@include fs(48);
		line-height: 1.2;
	}
	@include responsive(smartphone) {
		@include fs(42); //34
		.formation & {
			margin-bottom: 0;
		}
	}
	@media only screen and (max-width: 320px) {
		@include fs(38); //32
	}
	.ct-slider__hero__formation & {
		@include fs(54);
		line-height: 1.1;
		@include responsive(mdesktopdown) {
			@include fs(48);
		}
		@include responsive(smdevice) {
			@include fs(50);
		}
		@include responsive(tablette) {
			@include fs(42);
		}
		@include responsive(smartphone) {
			@include fs(42); //32
			line-height: 1.2;
		}
		@media only screen and (max-width: 320px) {
			@include fs(38); //32
		}
	}
	.ct-slider__hero__alumni & {
		@include fs(36);
		line-height: 1.4;
		text-align: center;
		> sub {
			@include fs(24);
		}
		@include responsive(tablette) {
			padding: 0 30px;
			@include fs(34);
			> sub {
				@include fs(18);
			}
		}
		@include responsive(smartphone) {
			padding: 0 20px;
			@include fs(34);
			line-height: 1.2;
			> sub {
				@include fs(16);
			}
		}
		@media only screen and (max-width: 320px) {
			@include fs(26);
			> sub {
				@include fs(12);
			}
		}
	}
}

.title-thumb {
	//font-family: $typoSecondary;
	@include fs(42);
	font-weight: $medium;
	line-height: 1.2;
	text-align: left;
	color: #fff;
}

.title-thumb2 {
	@include fs(36);
	font-weight: $medium;
	line-height: 1;
	margin-bottom: 20px;
	@include responsive(smartphone) {
		@include fs(22);
	}
}

.title-bloc {
	//font-family: $typoSecondary;
	@include fs(26);
	line-height: 1.2;
	text-align: left;
	margin-bottom: 20px;
	@include responsive(smartphone) {
		@include fs(20);
		br {
			display: none;
		}
	}
}

.section-nav{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	.section-links{
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		margin-bottom: 40px;
		a{
			position: relative;
			text-decoration: none;
			margin-top: 20px;
			margin-left: 20px;
			padding-right: 50px;
			color: $red;
			font-style: italic;
			@include fs(21);
			i{
				position: absolute;
				top: 50%;
				transition: .3s;
				transform: translateY(-50%);
				margin-left: 7px;
				display: inline-block;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				border: 1px solid $red;
				&:after{
					content: "";
					position: absolute;
					display: block;
					top: 13px;
					left: 11px;
					width: 8px;
					height: 8px;
					border-left: 1px solid $red;
					border-top: 1px solid $red;
					transform: rotate(135deg);
				}
			}

			&.section-link--particulier{
				color: $green;
				i{
					border-color: $green;
					&:after{
						border-color: $green;
					}
				}
			}

			&:hover{
				i{
					transform: translateY(-50%) scale(0.9);
				}
			}
		}
	}
	@include responsive(smartphone){
		align-items: flex-start;
		flex-direction: column;
		.title-section {
			margin-bottom: 0;
		}
		.section-links{
			justify-content: flex-start;
			a{
				@include fs(18);
				margin-left: 0;
			}
		}
	}
}

.title-module {
	color: $ccmain;
	position: relative;
	font-weight: $bold;
	@include fs(36);
	font-style: italic;
	line-height: 1.4;
	margin: 0 0 40px;

	&.negatif {
		color: white;
	}
}

.title-section {
	position: relative;
	@include fs(34);
	text-transform: uppercase;
	max-width: 100%;
	line-height: 1.4;
	font-weight: $bold;
	color: $green;
	text-align: left;
	margin-bottom: 30px;
	a{
		display: inline-block;
		position: relative;
		text-decoration: none;
		i{
			position: relative;
			top: 5px;
			transition: .3s;
			margin-left: 15px;
			display: inline-block;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 1px solid $red;
			&:after{
				content: "";
				position: absolute;
				display: block;
				top: 13px;
				left: 11px;
				width: 8px;
				height: 8px;
				border-left: 1px solid $red;
				border-top: 1px solid $red;
				transform: rotate(135deg);
			}
		}
		&.white-link{
			i{
				border-color: white;
				&:after{
					border-color: white;
				}
			}
		}
		&:hover{
			i{
				transform: scale(0.9);
			}
		}
	}
	.module-green &{
		color: #fff;
	}

	@include responsive(smartphone){
		@include fs(40);
		line-height: 1.2;
		&::before{
			display: none;
		}
	}
}


.txt-italic {
	font-style: italic;
}

.txt-center {
	text-align: center;
}

.txt-left {
	text-align: left;
}

.title-smallblock {
	@include fs(18);
	font-weight: $medium;
	margin-bottom: 15px;
}

.title-smallblock-bold {
	color: black;
	@include fs(24);
	font-weight: $bold;
	margin-bottom: 15px;
}


// content texts
.txt-bigger {
	@include fs(24);
}

// content texts
.txt-smaller {
	@include fs(18);
}

.txt-tiny {
	@include fs(14);
	.bold {
		font-weight: $medium;
	}
}

// content txt & links
.tiny-texts {
	@include fs(14);
	letter-spacing: 0;
}

.tiny-links {
	@include fs(14);
	text-decoration: none;
	letter-spacing: 0;
	border-bottom: 1px solid transparent;
	transition: 0.2s;
	&:hover,
	&:focus,
	&:active {
		border-bottom: 1px solid currentColor;
		// text-decoration: underline;
	}
	.alumni-logged & {
		.icon {
			@include fs(10);
			margin-right: 5px;
		}
	}
}

// for menus
// Menu list spe
.menu-list--title {
	font-weight: $medium;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding: 0 50px;
}

.menu-list--subtitle {
	@include fs(12);
	margin-bottom: 20px;
	padding: 0 50px;
}

.menu-list--separator {
	height: 1px;
	margin: 50px 50px;
	background-color: #d8d8d8;
}

blockquote {
	color: $ccmain;
	position: relative;
	font-weight: $bold;
	@include fs(36);
	font-style: italic;
	line-height: 1.4;
	margin: 70px 0;
	@include responsive(smartphone) {
		margin: 40px 0;
	}
	&:first-child {
		margin-top: 0;
	}
	&:before {
		content: "";
		position: absolute;
		top: -30px;
		left: -60px;
		z-index: 0;
		background: url("../img/quotes.svg") no-repeat;
		width: 117px;
		height: 90px;
		@include responsive(smartphone) {
			width: 80px;
			height: 66px;
			top: -12px;
			left: -8px;
			background: url("../img/quotes--m.svg") no-repeat;
		}
	}
	@include responsive(tablette) {
		@include fs(34);
	}
	@include responsive(smartphone) {
		@include fs(24);
	}

	&.negatif {
		color: white;
	}
}

.white {
	color: #fff;
}

.listlosange{
	display: flex;
	flex-wrap: wrap;
	li{
		display: flex;
		align-items: center;
		margin-right: 25px;
		margin-bottom: 20px;
		&:before{
			content:"";
			display: inline-block;
			height: 15px;
			width: 6px;
			background: $red;
			transform: skew(-10deg);
			margin-right: 10px;
		}
		a{
			@extend .link-fx;
			color: black;
			text-decoration: none;
			font-weight: $medium;
			@include fs(16);
			line-height: 1.4;
			&:after{
				height:1px !important;
			}
		}
	}

}
.search-result{
	h2{
		@include fs(26);
		font-weight: $bold;
		color: $green;
		text-align: left;
		margin-bottom: 20px;
		.page-content--section__color-blue & {
			color: #fff;
		}
		@include responsive(smartphone) {
			@include fs(20);
			// margin-bottom: 20px;
		}
	}
	a{
		text-decoration: none;
	}
	.arcta{
		margin-top: 20px;
	}
	margin-bottom: 80px;
}

.search-result-wrapper{
	margin-top: 100px;
}
.search-noresult{
	box-sizing: border-box;
	padding-top: 50px;
	height: calc(100vh - 620px);
	@include fs(32);
	@include responsive(smartphone){
		@include fs(24);
	}
	text-align: center;
}
