.values{
	.values-content{
		position: relative;
		display: flex;
		margin-bottom: 100px;
		.values-content--left{
			position: relative;
			.values-gazelle{
				position: absolute;
				top: 110px;
				left: -80px;
				z-index: 0;
			}
			.values-links{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				a{
					margin-bottom: 15px;
					margin-right: 15px;
				}
			}
		}
		p{
			white-space: pre-line;
			margin-left: 100px;
			line-height: 1.8;
			color: white;
			@include fs(24);
			position: relative;
			z-index: 1;
			@include responsive(smdevice){
				@include fs(18);
			}
		}
		@include responsive(smdevice){
			flex-direction: column;
			p{
				margin-left: 0;
			}
			.values-gazelle{
				display: none;
			}
			.values-content--left{
				position: initial;
				.values-links{
					position: absolute;
					flex-direction: row;
					flex-wrap: wrap;
					bottom: 150px;
					transform: translateY(100%);
				}
			}
		}
		@include responsive(smdevice){
			margin-bottom: 120px;
			.values-content--left{
				.values-links{
					position: absolute;
					bottom: -20px;
					left: 0;
					transform: translateY(100%);
				}
			}
		}
	}
}
