.video-wrapper {
	width: 100%;
	padding-top: 56.25%; /* 1:1 Aspect Ratio */
	position: relative;
	iframe{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}

.video-skewbackground{
	margin-top: 100px;
	&::before{
		content: "";
		display: block;
		position: absolute;
		background-color: $red;
		width: 100vw;
		height: 125%;
		top: -12.5%;
		left: 17%;
		transform: skew(-13deg);
	}
}
