
.arcta.custom-format{
	font-weight: 400;
	letter-spacing: .02em;
	text-align: left;
	vertical-align: baseline;
	margin: 0;
	outline: 0;
	text-decoration: none;
	position: relative;
	display: inline-block;
	border-radius: 100px;
	padding: 10px 25px 10px 25px;
	color: black;
	border: 2px solid #fe7c01;
	background-color: transparent;
	cursor: pointer;
	transition: all .3s ease-out;
	opacity: 1;
}
