/* Fonts */
@import "fonts/font";

/* Dependencies */
@import "dependancies/mixin";
@import "dependancies/ceaser";
@import "dependancies/reset";
@import "dependancies/helpers";
@import "dependancies/anim";

// custom grid
$gl-colCount: 16 !default;
$gl-gutter: 80px;
$gl-gutter-vertical: 1rem;
$gl-mq-list: (
	lg: $break-large,
	md: $break-medium,
	sm: $break-sm-grid,
	xs: $break-tiny
) !default;
// DOC: http://gridlex.devlint.fr/
// $gl-mq-list:
// max 1440px
// max 1280px
// max 1023px
// max  767px
@import "dependancies/grid/gridlex";

$light: 300;
$normal: 400; // used in project
$medium: 500;
$semibold: 600;
$bold: 700; // used in project
$extrabold: 800;
$heavy: 900; // used in project

// font
.light {
	font-weight: $light;
}
.normal {
	font-weight: $normal;
}
.medium {
	font-weight: $medium;
}
.semibold {
	font-weight: $semibold;
}
.bold {
	font-weight: $bold;
}
.extrabold {
	font-weight: $extrabold;
}
.black {
	font-weight: $heavy;
}

// colors
$ccdominant: #2F5996;
$blue: $ccdominant;
$blueGround: #2f5996;
$blueTitle: #5c9dd5;
$ccmain: #131415;
$ccsecondary: #4d4a49;
$black: #333130;
$darkGrey: #282828;
$lightgrey2: #d8d8d8;
$grey: #F1F3F5;
$red: #E85437;

$blueLight: #e5f2ed;
$orange: #fe7c01;
$green: #008551;
$black: #1a1d1e;
$white: #fff;

$scrollbar: darken($green,5%);

.blue{color:$blue;}


.ccdominant {color:$ccdominant;}
.ccblue {color:$blue;}
.ccblueGround {color:$blueGround;}
.ccblueTitle {color:$blueTitle;}
.ccblueLight {color:$blueLight;}
.ccmain {color:$ccmain;}
.ccsecondary {color:$ccsecondary;}
.ccblack {color:$black;}
.ccdarkGrey {color:$darkGrey;}
.cclightgrey2 {color:$lightgrey2;}
.ccgrey {color:$grey;}
.ccred {color:$red;}
.ccorange {color:$orange;}
.ccgreen {color:$green;}
.ccwhite {color:$white;}
.ccblack {color:$black;}
.cctransparent {color:transparent;}

.filldominant {fill:$ccdominant;}
.fillblue {fill:$blue;}
.fillblueGround {fill:$blueGround;}
.fillblueTitle {fill:$blueTitle;}
.fillblueLight {fill:$blueLight;}
.fillmain {fill:$ccmain;}
.fillsecondary {fill:$ccsecondary;}
.fillblack {fill:$black;}
.filldarkGrey {fill:$darkGrey;}
.filllightgrey2 {fill:$lightgrey2;}
.fillgrey {fill:$grey;}
.fillred {fill:$red;}
.fillorange {fill:$orange;}
.fillgreen {fill:$green;}
.fillwhite {fill:$white;}
.fillblack {fill:$black;}
.filltransparent {fill:transparent;}

.strokedominant {stroke:$ccdominant;}
.strokeblue {stroke:$blue;}
.strokeblueGround {stroke:$blueGround;}
.strokeblueTitle {stroke:$blueTitle;}
.strokeblueLight {stroke:$blueLight;}
.strokemain {stroke:$ccmain;}
.strokesecondary {stroke:$ccsecondary;}
.strokeblack {stroke:$black;}
.strokedarkGrey {stroke:$darkGrey;}
.strokelightgrey2 {stroke:$lightgrey2;}
.strokegrey {stroke:$grey;}
.strokered {stroke:$red;}
.strokeorange {stroke:$orange;}
.strokegreen {stroke:$green;}
.strokewhite {stroke:$white;}
.strokeblack {stroke:$black;}
.stroketransparent {stroke:transparent;}


// typo
$typoMain:"Lato", Helvetica, Arial, sans-serif;
//$typoSecondary:"Playfair Display", serif;

// sizes
$contentContainer-size: 1280px;
$contentContainer-size-large: 1440px;
$contentContainer-size-medium: 920px;
$contentContainer-size-small: 740px;
$contentContainer-size-tiny: 600px;

// spaces (bordures des contentContainers > padding)
$borderSpace: 60px;
$borderSpaceMd: 40px;
$borderSpaceSm: 20px;

// spaces (bordures des contentContainers margin-bottom)
$sectionSpace: 100px; // Espacement entre sections
$sectionLSpace: 120px;
$sectionItemSpace: 60px; // Espacement des élem dans les sections

/* ==== SUMMARY ==== *\

// ======= \\
    MIXIN
\\ ======= //

@include responsive(smartphone || tablette || desktop || sdesktop (bigger than desktop) || retina) {};
@include keyframe(animationName) {};
@include prefix(property, value);
@include font-size(20);

// ======== \\
    CEASER
\\ ======== //

In           || Out           || InOut
================================================
$easeInExpo  || $easeOutExpo  || $easeInOutExpo
$easeInQuint || $easeOutQuint || $easeInOutQuint
$easeInQuart || $easeOutQuart || $easeInOutQuart
$easeInCubic || $easeOutCubic || $easeInOutCubic
$easeInQuad  || $easeOutQuad  || $easeInOutQuad
$easeInSine  || $easeOutSine  || $easeInOutSine

$easeInCirc  || $easeOutCirc  || $easeInOutCirc
$easeInBack  || $easeOutBack  || $easeInOutBack
$bounce

animation
=========
fromy-80
fromy80
fromx-80
fromx80
fromy-160
fromy160
fromx-160
fromx160

\* ==== END - SUMMARY ==== */

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #efefef;
	//box-shadow: 0 0 8px rgba(0,0,0,.25) inset;
}
::-webkit-scrollbar-thumb {
	background: $scrollbar;
	//background: linear-gradient(to bottom,  #999 0%, #666 100%);
	//box-shadow: 0 0 3px rgba(0,0,0,.25) inset;
}

// text selection
::selection {
	background: $ccmain;
	color: #fff;
}
::-moz-selection {
	background: $ccmain;
	color: #fff;
}

html{
	@media screen and (min-width: 768px) and (max-width: 1441px) {
		font-size: 85%;
	}
}

// html
html,
body {
	height: 100%;
	width: 100%;
	position: relative;
}
body {
	position: relative;
	font-family: $typoMain;
	font-weight: $normal;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: none;

	@include font-size(16);

	background: #fff;
	color: $ccmain;
}

/* ============== *\
    CONTAINER
\* ============== */

.global-container {
	overflow: hidden;
	position: relative;
}
.scroll-container {
	padding-top: 0px; // put the same value of the height nav on padding-top here
	&.is-active {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}
}

.page-content {

}

/* ============== *\
    NAV
\* ============== */

.page-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 900000;
	top: 0;
	left: 0;

	background: #fff;

	transform: translateX(0%);
	opacity: 1;
	&.is-invisible {
		transform: translateX(5000%);
		opacity: 0;
	}

	// spinner
	> div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;

		width: 50px;
		height: 50px;

		border-radius: 50%;

		border-top: 2px solid $orange;
		border-right: 2px solid transparent;
		border-bottom: 2px solid $orange;
		border-left: 2px solid transparent;

		animation: rot360 1s infinite linear;
	}
}
.scroll-reveal {
	opacity: 0;
	&.is-revealed {
		opacity: 1;
	}
}

@import "part/containers";
@import "part/logocaroussel";
@import "part/groupe";
@import "part/expertises";
@import "part/partenaires";
@import "part/modules";
@import "part/list-related";
@import "part/icons";
@import "part/images";
@import "part/link-fx";
@import "part/btn";
@import "part/slick";
@import "part/sitenav";
@import "part/sliders";
@import "part/markup";
@import "part/description-list";
@import "part/gallery";
@import "part/list-media";
@import "part/pagination";
@import "part/form";
@import "part/map";
@import "part/footer";
@import "part/video";
@import "part/typography";
@import "part/mobile-menu";
@import "part/mobile-sitenav";
@import "part/slider-hero";
@import "part/membersbook";
@import "part/contact";
@import "part/breadcrumb";
@import "part/values";
@import "part/card";
@import "part/adresse-listing";
@import "part/homeskew";
@import "part/module-wysiwyg";
@import "part/faq";
@import "part/chiffres";

@import "part/arcta";// cta with arrow
@import "part/bhead";// header slider
@import "part/codibest";// codival - the best of security
@import "part/decoangle";// decoangle - décoration d'angle (slider home, headlines...)
@import "part/sqtitle";// title with decoangles
@import "part/arrowcircle";// manage hover of arrow-circle-left/right
@import "part/timeline";// stroke + label on homepage (left side)
@import "part/acti";// bloc activité
@import "part/acticard";// card activité
@import "part/codires";// bloc réseau
@import "part/rescard";// card réseau
@import "part/basicss";// slider home (container de card)
@import "part/logotabs";
@import "part/map";

